{% extends 'amazon/layouts/base.html' %}
{% load static %}
{% block title %} Products  {% endblock %}
{% block body %}
  <!-- Start Body -->
  <div class="container">
    <div class="add-product pt-5 text-end">
      <a href="{% url 'amazon.createform'%}" class="fs-4 text-decoration-none " style="color: #5585b5;"><i class="fa-regular fa-square-plus"></i></a>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 pt-3 pb-5">
      {% for product in products %}
      <div class="card border-0 mb-3 ">
        <img src="{{product.get_image_url}}" class="card-img-top rounded-3 mb-2" height="370">
        <div class="card-body text-center p-0 ">
            <h5 class="card-title">{{product.name}}</h5>
            <div class="d-flex justify-content-between  ">
              <a href="{{product.get_detail_url}}" style="color: #5585b5;"><i class="fa-solid fa-eye"></i></a>
              {% if product.owner == user %}
                <a href="{% url 'amazon.editform' product.id%}" style="color: #5585b5;"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{{product.get_delete_url}}" class="text-danger"><i class="fa-solid fa-trash"></i></a>
              {% endif %}
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- End Body -->
{% endblock %}